/*
 *  Adjust / extend your presentation design here!
 */

:root
{
    background: #fff;

    --text:   #347;
    --accent: #3bc;
}

/* * */

page
{
    color: var(--text);
}

.accent, h2 ~ h2, h1 ~ h2
{
    color: var(--accent);
}

page:first-of-type h1
{
    font-style: italic;
}

page:first-of-type h1,
page:first-of-type h2
{
    font-family:serif;
    top:-2vw;
    padding-bottom: 4vw;
}

progbar
{
    background: var(--accent);
}

li
{
    transition: opacity .1s;
}

a
{
    color:lightgray;
}

foot
{
    position:fixed;
    width:100vw;
    left:0;
    bottom:1vw;

    font-size:1.5vw;
    line-height:normal;
    color: lightgray;
    text-align:center;
}

blockquote
{
    border-left-color: var(--accent);
    border-left-width: .5vw;
    background: rgba(0,0,0,.04);
    padding-left: 1vw;
    margin-bottom:3vw;
}